<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
         
          <!-- search form -->

          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

              <li>
              <a href="{% url 'dashboard' %}">
                <i class="fa fa-th"></i> <span>Dashboard</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>

               <li>
              <a href="{% url 'alltasks' %}">
                <i class="fa fa-th"></i> <span>All Task</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>


            <li>
              <a href="{% url 'createtask' %}">
                <i class="fa fa-th"></i> <span>Create Task</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>

              <li>
              <a href="{% url 'completetasks' %}">
                <i class="fa fa-th"></i> <span>Completed Task</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>
              <li>
              <a href="{% url 'pendingtasks' %}">
                <i class="fa fa-th"></i> <span>Pending Task</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>
              <li>
              <a href="{% url 'todaytask' %}">
                <i class="fa fa-th"></i> <span>Task for today</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>

              <li>
              <a href="{% url 'activites' %}">
                <i class="fa fa-th"></i> <span>Activites</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>






          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>